<td class="expense-date">{{pretty-date expenseDt}}</td>
<td class="expense-time">{{pretty-time expenseDt}}</td>
<td class="description">{{description}}</td>
<td class="amount">{{currency-amount amount}}</td>
<td class="comment">{{comment}}</td>
<td class="edit-mode"><button {{action "toggleEditMode"}}>Edit</button></td>