{{#if session.isAuthenticated}}

{{#with filterObj}}
  {{partial "filter"}}
{{/with}}

<h3>Expenses</h3>

<span id="edit-mode">
  <a href="#" {{action "toggleEditMode"}}>Edit</a>
</span>

<table id="expenses-table" class='table'>
  <tr>
    <th>Date</th>
    <th>Time</th>
    <th>Desc</th>
    <th>Amount</th>
    <th>Comment</th>
  </tr>
 
  {{#each filterObj.filtered}}
    <tr>
      {{#if editMode}}
        {{partial "editrow"}}
      {{else}}
        {{partial "displayrow"}}
      {{/if}}
    </tr>
  {{/each}}

  {{#with newExpense}}
    <tr id="new-expense">
      {{partial "editrow"}}
    </tr>
  {{/with}}
</table>

<h3>Summary</h3>
{{render "summary" model}}
{{/if}}