{{#if session.isAuthenticated}}

{{#with filterObj}}
  {{partial "filter"}}
{{/with}}

<span id="expenses-header">Expenses Table</span>

<table id="expenses-table">
  <tr>
    <th>Date</th>
    <th>Time</th>
    <th>Desc</th>
    <th>Amount</th>
    <th>Comment</th>
  </tr>
 
  {{#each filterObj.filtered}}
    <tr>
      <td class="expense-date">{{pretty-date expenseDt}}</td>
      <td class="expense-time">{{pretty-time expenseDt}}</td>
      <td class="description">{{description}}</td>
      <td class="amount">{{currency-amount amount}}</td>
      <td class="comment">{{comment}}</td>
    </tr>
  {{/each}}

  {{#with newExpense}}
    <tr id="new-expense">
      <td class="expense-date">{{input value=expenseDate}}</td>
      <td class="expense-time">{{input value=expenseTime}}</td>
      <td class="description">{{input value=description}}</td>
      <td class="amount">{{input value=amount}}</td>
      <td class="comment">{{textarea value=comment}}</td>
    </tr>
  {{/with}}
  
</table>

<button {{action 'save'}}>Save</button>

<br>
Filtered Count: {{filterObj.filtered.length}}
<br>

<h3>Summary</h3>
{{render "summary" model}}
{{/if}}